<div class="container card mt-5">
  <h1 class="text-center mt-4">{{ titulo }}</h1>
  <form [formGroup]="itemForm" (ngSubmit)="agregarItem()" class="mt-3 p-5">
    <input
      type="text"
      class="form-control"
      formControlName="descripcion"
      placeholder="Descripción"
    />
    <input
      style="margin-top: 15px"
      type="number"
      class="form-control"
      formControlName="cantidadDePersonas"
      placeholder="Cantidad de personas"
    />
    <input
      style="margin-top: 15px"
      type="number"
      class="form-control"
      formControlName="precio"
      placeholder="Precio"
    />
    <input
      style="margin-top: 15px"
      type="text"
      onfocus="(this.type='date')"
      onblur="(this.type='text')"
      class="form-control"
      formControlName="checkIn"
      placeholder="CheckIn"
    />
    <input
      style="margin-top: 15px"
      type="text"
      onfocus="(this.type='date')"
      onblur="(this.type='text')"
      class="form-control"
      formControlName="checkOut"
      placeholder="CheckOut"
    />

    <div>
      <button
        type="submit"
        class="btn btn-secondary mt-5 me-3"
        [disabled]="!itemForm.valid"
      >
        Guardar
      </button>

      <button routerLink="/" type="button" class="btn btn-secondary mt-5">
        Volver
      </button>
    </div>
  </form>
</div>
