<div class="container card mt-5 p-5">
  <div class="row">
    <h2 class="mb-5 fw-bold">INTEGRANTES</h2>
    <div class="col-lg-4">
      <img
        class="bd-placeholder-img rounded-circle"
        width="140"
        height="140"
        src="https://avatars.githubusercontent.com/u/80859408?v=4"
        alt="Placeholder"
      />

      <h2 class="fw-normal mt-2 fw-bold">Andres Negrette</h2>
      <p>
        <a
          class="btn btn-secondary mt-2"
          href="https://github.com/Andres-ann"
          target="_blank"
          >Contacto »</a
        >
      </p>
    </div>
    <!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img
        class="bd-placeholder-img rounded-circle"
        width="140"
        height="140"
        src="https://avatars.githubusercontent.com/u/126607779?s=400&u=2c1820e21df14c05c705061f173a8b22bfea657d&v=4"
        target="_blank"
        alt="Placeholder"
      />
      <h2 class="fw-normal mt-2 fw-bold">Claudia Fernández</h2>
      <p>
        <a
          class="btn btn-secondary mt-2"
          href="https://github.com/Clau-Fernandez?tab=repositories"
          target="_blank"
          >Contacto »</a
        >
      </p>
    </div>
    <!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img
        class="bd-placeholder-img rounded-circle"
        width="140"
        height="140"
        src="https://avatars.githubusercontent.com/u/54591089?v=4"
        alt="Placeholder"
      />
      <h2 class="fw-normal mt-2 fw-bold">Fernando Bártoli</h2>
      <p>
        <a
          class="btn btn-secondary mt-2"
          href="https://github.com/fdbartoli"
          target="_blank"
          >Contacto »</a
        >
      </p>
    </div>
    <!-- /.col-lg-4 -->
  </div>
</div>
