<div class="container">
  <h1 class="my-4 fw-bold">Cabañas Mongote</h1>
  <p class="fs-5 mb-4">
    Esta aplicación permite gestionar las reservas de los clientes, mostrando
    información clave como las fechas de ingreso y egreso. Otros datos que se
    pueden visualizar incluyen la descripción de la cabaña, la capacidad de
    personas que puede alojar, y el precio correspondiente. Otras
    funcionalidades que posee, son las de: agregar, eliminar y editar cabañas.
  </p>
  <table class="table table-hover table-dark mt-3 fs-5">
    <thead>
      <tr>
        <th scope="col">Descripcion</th>
        <th scope="col">Cantidad de Personas</th>
        <th scope="col">Precio</th>
        <th scope="col">Check In</th>
        <th scope="col">Check Out</th>
        <th scope="col">Opciones</th>
      </tr>
    </thead>
    <tbody>
      <tr class="table-light" *ngFor="let item of listItem">
        <td>{{ item.descripcion | titlecase }}</td>
        <td>{{ item.cantidadDePersonas }}</td>
        <td>{{ item.precio | currency }}</td>
        <td>{{ item.checkIn | date : "dd/MM/yyyy" }}</td>
        <td>{{ item.checkOut | date : "dd/MM/yyyy" }}</td>
        <td>
          <button
            type="button"
            class="btn btn-outline-danger btn-sm me-3"
            (click)="eliminarItem(item._id)"
          >
            <i class="fa-solid fa-trash"></i>
          </button>
          <button
            [routerLink]="['/item', item._id]"
            type="button"
            class="btn btn-outline-light btn-sm"
          >
            <i class="fa-solid fa-pen-to-square"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
